.chat-main
  .chat-main__group-info
    .chat-main__group-info__left
      .chat-main__group-info__left__name
      .chat-main__group-info__left__member
    .chat-main__group-info__right
  .chat-main__message-list
  .chat-main__message-form