.chat-main{
  width: calc(100vw - 300px);
  height: 100vh;
  &__group-info{
    height: 100px;
    background-color: #ffffff;
  }
  &__message-list{
    height: calc(100vh - 190px);
    background-color: #fafafa;
  }
  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
  }
}