.side-bar{
  width: 300px;
  height: 100vh;
  font-weight: bold;
  color: #ffffff;
  &__user-name{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    .top-items{
      margin: 0 auto;
      height: 20px;
      width: 260px;
      display: flex;
      &__name{
        line-height: 20px;
        width: 200px;
      }
      &__icons{
        width: 60px;
        text-align: right;
        .top-icon{
          margin-left: 5px;
          line-height: 20px;
          display: inline-block;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
  &__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    &__group{
      margin: 0 auto;
      height: 91px;
      width: 260px;
      padding-top: 20px;
      padding-bottom: 40px;
      .group-name{
        font-size: 15px;
        margin-top: 20px;
      }
      .group-message{
        font-size: 11px;
        margin-top: 5px;
      }
    } 
  }
}