.side-bar{
  width: 300px;
  height: 100vh;
  &__user-name{
    background-color: #253141;
    height: 100px;
  }
  &__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
  }
}